[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_comfyui
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita ComfyUi
Comment=Krita Comfy integration
